img {
    display: flex;
    position: relative;
    padding: 10px;
    width: 30%;
    margin: auto;
    margin-bottom: 10%;
    height: auto;
}

a {
    text-decoration: none;
    color: #efefef;
}

p {
    text-align: center;
    padding: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    border: 1px solid transparent;
    text-transform: uppercase;
    position: relative;
}

.nav {
    position: relative;
    width: 350px;
    margin: auto;
    list-style-type: none;
}