body, html {
    font-family: Signika Negative, sans-serif;
    background: #111;
    color: #efefef;
    height: 100%;
    background: rgb(15,133,224);
    background: linear-gradient(180deg, rgba(15,133,224,1) 0%, rgba(242,16,16,1) 100%);
}
@keyframes animateLogo {
    0%   {left:1000px; top:0px;}
    100%  {left:0px; top:0px;}
}

img {
    display: flex;
    position: relative;
    padding: 10px;
    width: 30%;
    height: auto;
    margin: auto;
    
    animation-name: animateLogo;
    animation-duration: 2s;
}

a {
    text-decoration: none;
    color: #efefef;
}
a:hover {
    color: #0f56da;
}

.nav {
    position: relative;
    width: 350px;
    margin: auto;
    list-style-type: none;
}

.btn {
    border: none;
    text-align: center;
    cursor: pointer;
    padding: 25px 80px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    background-color: rgb(38, 38, 38);
    border: solid 1px transparent;
    border-radius: 10px;
    margin-top: 20px;
    transition: all .2s ease-in-out;
    -webkit-font-smoothing: antialiased;
}
.btn:hover {
    transform: scale(1.2);
    border: 3px solid #0f56da;
    color: #0f56da;
}

.instructions {
    text-align: center;
    margin-top: 10px;
}