@keyframes animateLogo {
    0%   {left:1000px; top:0px;}
    100%  {left:0px; top:0px;}
}

img {
    display: flex;
    position: relative;
    padding: 10px;
    width: 30%;
    height: auto;
    margin: auto;
    
    animation-name: animateLogo;
    animation-duration: 2s;
}

a {
    text-decoration: none;
    color: #efefef;
}

.nav {
    position: relative;
    width: 350px;
    margin: auto;
    list-style-type: none;
}